*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;


}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    

}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;


}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;

}

nav ul li a:hover{
    color: rgb(51, 42, 125);

}

.mh-skills .mh-professional-skill{
    padding-right: 60px;
    color: black;
}

.mh-skills .mh-professional-skill h3{
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 60px;
    font-family: 'Poppins',sans-serif;
}

.mh-relevant-skills{
    padding-left: 20%;
}

.mh-relevant-skills h3{
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 60px;
    font-family: 'Poppins',sans-serif;
}

.mh-relevant-progress li{
    display: inline-block;
    margin: 0 auto;
    float: none;
    width: 48%;
    margin-bottom: 30px;
    text-align: center;
}
.mh-progress{
    margin-bottom: 10px;
    font: 900 1.14285/1;
    color: black;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

    
.intro h2{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}
.intro h3{
    display: flex;
    justify-content: center;
    align-items: center;
}





.skills{
    width: 100%;
    max-width: 500px;
    padding: 0 515px;
    margin-top: 60px;

}

.skill-name{
    font-size: 18px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    margin: 20px 0;

}

.skill-bar{
    height: 14px;
    background: #282828;
    border-radius: 3px;
}

.skill-per{
    height: 14px;
    background: #d13639;
    border-radius: 3px;
    position: relative;
    animation: fillBars 2.5s 1;
}

.skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: #d13639;
    border-radius: 4px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}

.skill-per::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #d13639;
    top: -20px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}

@keyframes fillBars{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}